body {
	background-color:#A7BEAE ;
	font-family : Garamond;
}



h1, h2, p, ul {
    padding: 10px;
    margin: 0;
}



#main {
	width:100%;
	max-width: 1400px;
	margin: auto;
	background-color: #E7E8D1;

}

#header {
	background-color: #E7E8D1;
	height: 100px;
	color:white;
    text-align: center;
    padding-top: 50px;
}

#footer {
	background-color: #e7e8d1,;
	height: 50px;
	text-align: center;
	position: relative;
    width: 100%;
}



#section {
	display: flex;
	
 
}

#content {
 background-color: white;
	width: 100%;
	padding: 30px;
    
}

#side {  
	background-color: lightgray;
	width: 25%;
  
}

#pic {
	
}

#img {
	max-width:100%;
	border-radius: 50%;
}




#nav {
   background-color: #a7beae ;
   height: 40px;    
}

#nav ul {
    padding-top: 10px ;    
} 

#nav li {
    display: inline; 
    padding-right: 30px;
    font-size: 20px;
    
}

#nav a {color: white; font-weight: bold; text-decoration: none;}
#nav a:hover {color: #4E2161;}
;}




